<div class="jumbotron">
    <div *ngIf="moviesByGenre; else loading" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Movies</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div *ngFor="let movie of moviesByGenre.results;let i=index" class="col-md-2">
                    <!-- <div *ngIf="i < 8"> -->
                    <app-movie-card [movie]="movie"></app-movie-card>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>