<!-- Spinner -->
<app-loading [isLoading]="isLoading"></app-loading>
<!-- Show error -->
<app-alert-message [errorMsgFromServer]="errorMsgFromServer"></app-alert-message>

<section *ngIf="restaurantDetails" class="card shopping-cart container dark my-4 shadow-lg d-flex flex-column position-relative rounded">
    <!-- Header -->
    <div class="block-heading">
        <div class="shadow-lg restaurant-header mt-2 rounded">
            <img class="restaurant-header-image d-none d-lg-flex flex-grow-1 rounded"
                src="{{restaurantDetails.image}}"
                alt="Restaurant Image">
            <div class="card restaurant-info">
                <p class="fst-bad fw-bolder fs-1">{{restaurantDetails.name}}</p>
                <p><i class="fa-solid fa-location-dot"></i> Адрес: {{restaurantDetails.location}}, {{restaurantDetails.address}}</p>
                <p><i class="fa-solid fa-square-phone"></i> Телефон за поръчки: <strong>{{restaurantDetails.phone}}</strong></p>
            </div>
        </div>
    </div>

    <!-- Show if the current restaurant not have any added products yet  -->
    <ng-container>
        <div class="col-md-12 text-center text-primary-emphasis">
            <div class="summary border rounded card">
                <h4 class="fst-bad">Съвсем скоро Вашият любим ресторант ще публикува своите продукти !</h4>
            </div>
        </div>
    </ng-container>


    <!-- Hide if the current restraurant not have yet added products -->
    <!-- Page to search, sort, number product per page -->
    <div class="form-group d-flex align-items-center mb-3">
        <!-- Search -->
        <div class="col-4 ms-1">
            <label for="search"><i class="bi bi-search-heart"></i> Намери любимата си храна</label>
            <input id="search" class="form-control form-control-sm" type="text" placeholder="Търси">
        </div>
        <div class="ms-3">
            <label for="group-food">Избери група</label>
            <select id="group-food" class="form-select form-select-sm px-1" aria-label="Search select"
                style="width: 200px;">
                <option value="" selected>Сортирай</option>
                <option value="name">Име</option>
                <option value="group">Група</option>
                <option value="priceASC">Цена &#x2191;</option> 2191
                <option value="priceDSC">Цена &#x2193;</option> 2193
            </select>
        </div>
    </div>


    <div class="content shadow-lg">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="border rounded px-1 py-1 shadow-sm">
                    <div class="items">

                        <!-- Message if no product found -->
                        <ng-container>
                            <div class="alert alert-dismissible alert-warning mt-5 text-center">
                                <h2><strong>Няма намерени продукти</strong></h2>
                            </div>
                        </ng-container>

                        <!-- Product cards -->
                        <div
                            class="f-block d-flex justify-content-between align-items-center mt-1 py-2 items rounded box">
                            <div class="d-flex flex-row">
                                <img alt="No Image" class="rounded mx-1"
                                    src="https://nashiterecepti.com/content/NV82ODI2X3BuZ184MDBfODAwXzA%3D/shopska-salata.png"
                                    width="120px" height="85px">
                            </div>
                            <div class="d-flex text-muted flex-wrap">
                                <div style="margin-left: -25px;">
                                    <span class="d-block text-muted fst-italic spec">Име:</span>
                                    <h5><span class="d-block fst-bold text-white">Ризото с манатарки чеснов сос и
                                            четирир сирена</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex text-muted flex-wrap mt-2">
                                <div class="mx-2">
                                    <span class="d-block text-muted fst-italic spec">Грамаж:</span>
                                    <span class="d-block fst-bold text-white">350 гр.</span>
                                </div>
                                <div class="mx-2">
                                    <span class="d-block text-muted fst-italic spec">Цена:</span>
                                    <span class="d-block fst-bold text-white">25,20 лв.</span>
                                </div>
                                <div class="me-2">
                                    <span class="d-block text-muted fst-italic spec">Поръчай:</span>
                                    <input name="qty" type="number" min="0" step="1" max="999" value="0" placeholder="0"
                                        class="form-control form-control-sm quantity-input btn btn-outline-light px-1">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


            <!-- In case there are no register user -->
            <ng-container>
                <div class="col-md-12 col-lg-4 text-primary-emphasis">
                    <div class="summary border rounded card">
                        <div class="text-center text-primary-emphasis">
                            <img src="/assets/aboutUs-1.png" alt="Please Login" width="80" height="80">
                            <h4>За да направите поръчка, моля влезте във вашият <a routerLink="/login">профил</a> или се
                                <a routerLink="/register">регистрирайте</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- Summary section -->
            <div class="col-md-12 col-lg-4 text-primary-emphasis">
                <div class="summary border rounded">
                    <h2 class="text-center mb-4 text-decoration-underline fst-bad fw-bolder">Вашата поръчка</h2>
                    <!-- Product -->

                    <div class="product my-2">
                        <div class="product-info">
                            <span><strong>2 x </strong>Шопска салата с гъби</span>
                        </div>
                        <div class="static-info me-2">
                            <div class="total-info">
                                <span class="value">10.40 лв.</span>
                            </div>
                        </div>
                        <div class="actions" style="font-size: 15px;">
                            <span class="action-btn" title="Добави">
                                <i class="bi bi-plus-square fs-6 text-primary-emphasis"></i>
                            </span>
                            <span class="action-btn" title="Намали">
                                <i class="bi bi-dash-square fs-6 text-primary-emphasis"></i>
                            </span>
                            <span class="action-btn ms-1" title="Изтрий">
                                <i class="bi bi-trash3 fs-6 text-primary-emphasis"></i>
                            </span>
                        </div>
                    </div>

                    <hr class="mb-0">
                    <div class="summary-item"><span class="text">Общо</span><span class="price fw-bolder">28.20
                            лв.</span></div>
                    <div class="d-flex flex-column align-items-center">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Поръчай</button>
                    </div>
                    <hr class="mt-5 mb-0">

                    <!-- Comments -->
                    <app-add-comments [restaurantDetails]="restaurantDetails"></app-add-comments>

                </div>

            </div>



        </div>
    </div>
</section>