<section class="shopping-cart container dark my-4 shadow-lg d-flex flex-column position-relative rounded">

    <div class="block-heading">
        <div class="shadow-lg restaurant-header mt-2 border rounded">
            <img class="restaurant-header-image d-none d-lg-flex flex-grow-1"
                src="https://images.getbento.com/accounts/0dd435255ed47ef59b07b494968680e4/media/images/12960PQ_CHICAGO_INTERIOR_FULL.jpg?w=1200&fit=crop&auto=compress,format&crop=focalpoint&fp-x=0.5&fp-y=0.5"
                alt="Restaurant Image">
            <div class="restaurant-info">
                <h1 class="fw-bold">Ресторант Име</h1>
                <p><i class="fa-solid fa-location-dot"></i> Адрес: Банско, Под крушата</p>
                <p><i class="fa-solid fa-square-phone"></i> Телефон за поръчки: <strong>+359123456789</strong></p>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="items">
                    <div class="f-block d-flex justify-content-between align-items-center mt-1 py-2 items rounded box">
                        <div class="d-flex flex-row">
                            <img alt="No Image" class="rounded mx-2"
                                src="https://nashiterecepti.com/content/NV82ODI2X3BuZ184MDBfODAwXzA%3D/shopska-salata.png"
                                width="120px" height="85px">
                            <div class="me-2">
                                <span class="d-block text-muted fst-italic spec">Име:</span>
                                <h5><span class="d-block fst-bold">Ризото с манатарки чеснов сос и четирир сирена</span>
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex text-muted flex-wrap">
                            <div class="mx-2">
                                <span class="d-block text-muted fst-italic spec">Грамаж:</span>
                                <span class="d-block fst-bold">350 гр.</span>
                            </div>
                            <div class="mx-2 me-4">
                                <span class="d-block text-muted fst-italic spec">Цена:</span>
                                <span class="d-block fst-bold">25,20 лв.</span>
                            </div>
                            <div class="col-auto me-3">
                                <div class="d-flex align-items-center justify-content-end">
                                    <button class="btn btn-sm btn-secondary me-1">&#8722;</button>
                                    <a href="#" class="border">1</a>
                                    <button class="btn btn-sm btn-secondary ms-1">&#43;</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="summary">
                    <h3>Summary</h3>
                    <div class="summary-item"><span class="text">Subtotal</span><span class="price">$360</span>
                    </div>
                    <div class="summary-item"><span class="text">Discount</span><span class="price">$0</span></div>
                    <div class="summary-item"><span class="text">Shipping</span><span class="price">$0</span></div>
                    <div class="summary-item"><span class="text">Total</span><span class="price">$360</span></div>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</section>