<section id="registerPage">
    <form class="registerForm" #regForm="ngForm" (ngSubmit)="registerMethod(regForm)">
        <img src="/assets/logo.png" alt="logo" />
        <h2>Register</h2>
        <ng-container *ngIf="hasError">
            <div class="error">{{hasError}}</div>
        </ng-container>
        <div class="on-dark">
            <label for="email">Email:</label>
            <input id="email" name="email" type="text" placeholder="steven@abv.bg" value="" ngModel
                #emailInput="ngModel" required email pattern="^\w+@\w+\.\w+">
            <ng-container *ngIf="emailInput.invalid && emailInput.touched">
                <div class="error" *ngIf="emailInput.errors?.['required']">Email is required</div>
                <div class="error" *ngIf="emailInput.errors?.['email']">Email is incorrect</div>
            </ng-container>
        </div>

        <div class="on-dark">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" placeholder="********" value="" ngModel
            #passInput="ngModel" required minlength="6">
            <ng-container *ngIf="passInput.invalid && passInput.touched">
                <div class="error" *ngIf="passInput.errors?.['required']">Password is required</div>
                <div class="error" *ngIf="passInput.errors?.['minlength']">Password must be at least 6 characters long</div>
            </ng-container>
        </div>

        <div class="on-dark">
            <label for="repeatPassword">Repeat Password:</label>
            <input id="repeatPassword" name="repeatPassword" type="password" placeholder="********" value="" ngModel
            #rePassInput="ngModel" required minlength="6">
            <ng-container *ngIf="rePassInput.invalid && rePassInput.touched">
                <div class="error" *ngIf="rePassInput.errors?.['required']">Repeat Password is required</div>
                <div class="error" *ngIf="rePassInput.errors?.['minlength']">Repeat Password must be at least 6 characters long</div>
            </ng-container>
            <ng-container *ngIf="passInput.touched && rePassInput.touched">
                <div class="error" *ngIf="passInput.value !== rePassInput.value">The passwords do not match</div>
            </ng-container>
        </div>

        <button class="btn" type="submit" [disabled]="regForm.invalid || passInput.value !== rePassInput.value">Register</button> 

        <p class="field">
            <span>If you have profile click <a routerLink="/login">here</a></span>
        </p>
    </form>
</section>