<section id="dashboard">
    <h2>Albums</h2>
    <ng-container *ngIf="albums.length > 0; else noAlbums"></ng-container>
    <ul class="card-wrapper">
        <li *ngFor="let album of albums" class="card">
            <img src="{{album.imageUrl}}" alt="{{album.singer}}" />
            <p><strong>Singer/Band: </strong><span class="singer">{{album.singer}}</span></p>
            <p><strong>Album name: </strong><span class="album">{{album.album}}</span></p>
            <p><strong>Sales:</strong><span class="sales">{{album.sales}}</span></p>
            <a class="details-btn" routerLink="/details/{{album._id}}">Details</a>
        </li>
    </ul>
    <ng-template #noAlbums>
        <h2>There are no albums added yet.</h2>
    </ng-template>
</section>