<h1>Browser</h1>
{{#if cubes}}
<form action="/search" method="POST">
	<input type="text" class="search" name="search" placeholder="Search..." value="{{search}}">
	<input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value="{{from}}">
	<span>-</span>
	<input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{to}}">
	<input type="submit" value="search">
</form>
{{#each cubes}}
{{>cubeCard}}
{{/each}}
{{else}}
<h1>There are no cubes in the database yet!</h1>
{{/if}}