@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

:root {
    --background-color: #d9d9d9;
    --text-dark-gray: #595959;
    --text-light-gray: #acacac;
    --text-dark: #353751;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--background-color);
    padding: 64px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 33%;
    gap: 36px;
}

.content .card {
    width: 550px;
    height: 800px;
    box-shadow: 10px 10px 10px 2px rgb(0, 0, 0, 0.1);
}

.content .card .image {
    width: 550px;
    height: 330px;
    object-fit: cover;
}

.content .card .description {
    padding: 36px;
    color: var(--text-dark-gray);
}

.content .card .description .type {
    font-weight: 700;
    font-size: 20px;
}

.content .card .description .title {
    color: var(--text-dark);
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 26px;
}

.content .card .description .desc {
    font-size: 20px;
}

.content .card .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 36px;
}

.content .card .footer .divider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 16px;
}

.content .card .footer .user-image {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.content .card .footer .user-name {
    padding: 6px 16px;
    font-size: 26px;
    font-weight: 300;
}

.content .card .footer .user-post {
    margin-left: auto;
    color: var(--text-light-gray);
    font-size: 26px;
}