<div class="shadow-lg d-flex flex-column position-relative mt-4 mb-3">
    <div class="container mt-3 mb-3 ">
        <div class="row">
            <div class="col-md-6 col-xxl-3">
                <div class="card">
                    <div class="card-body"><img class="rounded border" style="height: 230px; width: 268px;" width="268" height="230">
                        <h4 class="card-title">Title</h4>
                        <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h4 class="card-title">Коментари</h4>
                        <p class="card-text">userName: comment</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-9" style="position: relative;display: block;">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1" style="padding-left: 5px;margin-right: 2px;padding-right: 8px;">Добави продукт</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2" style="padding-left: 7px;margin-right: 2px;padding-right: 2px;">Редактирай Продукт</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3" style="margin-left: 2px;padding-left: 5px;padding-right: 3px;margin-right: 2px;">Изтрий Продукт</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-4" style="padding-left: 4px;margin-left: 2px;margin-right: 2px;padding-right: 5px;">Редактирай Ресторант</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-5" style="margin-right: -11px;padding-right: 17px;padding-left: 3px;margin-left: 0px;">Изтрий ресторант</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- Add new product -->
                        <div class="tab-pane active show" role="tabpanel" id="tab-1" style="padding-top: 30px;padding-bottom: 31px;">
                            <div class="row">
                                <div class="col-md-5 col-xl-4 col-xxl-5 text-center text-md-start">
                                    <h2 class="fw-bold mb-3"><span class="text-white text-decoration-underline">Нов продукт</span></h2>
                                    <form>
                                        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Име на продукта"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="weight" placeholder="Мярка"></div>
                                        <div class="mb-3"><input class="form-control" type="number" name="price" placeholder="Цена" step="0.01"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="group" placeholder="Група"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="image" placeholder="Снимка линк"></div>
                                        <div class="mb-5"><button class="btn btn-primary shadow justify-content-center align-items-center align-content-center" style="margin-left: 116px;"><i class="bi bi-plus-circle"></i> Добави</button></div>
                                    </form>
                                </div>
                                <div class="col d-none d-lg-flex flex-grow-1" style="margin-left: 49px;margin-top: 4px;"><img style="width: 340px;height: 402px;position: relative;padding-bottom: 0px;padding-top: 0px;margin-top: 9px;" width="340" height="402"></div>
                            </div>
                        </div>
                        <!-- Edit product -->
                        <div class="tab-pane" role="tabpanel" id="tab-2" style="padding-top: 30px;padding-bottom: 31px;">
                            <div class="row">
                                <div class="col-md-5 col-xl-4 col-xxl-5 text-center text-md-start">
                                    <h2 class="fw-bold mb-3"><span class="text-white text-decoration-underline">Редакция продукт</span></h2>
                                    <form>
                                        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Име на продукта"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="weight" placeholder="Мярка"></div>
                                        <div class="mb-3"><input class="form-control" type="number" name="price" placeholder="Цена" step="0.01"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="group" placeholder="Група"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="image" placeholder="Снимка линк"></div>
                                        <div class="mb-5"><button class="btn btn-primary shadow justify-content-center align-items-center align-content-center" style="margin-left: 116px;"><i class="bi bi-pencil-fill"></i> Редактирай</button></div>
                                    </form>
                                </div>
                                <div class="col d-none d-lg-flex flex-grow-1" style="margin-left: 49px;margin-top: 4px;"><img style="width: 340px;height: 402px;position: relative;padding-bottom: 0px;padding-top: 0px;margin-top: 9px;" width="340" height="402"></div>
                            </div>
                        </div>
                        <!-- Delete product -->
                        <div class="tab-pane" role="tabpanel" id="tab-3" style="padding-top: 30px;padding-bottom: 31px;">
                            <div class="row">
                                <div class="col-md-5 col-xl-4 col-xxl-5 text-center text-md-start">
                                    <h2 class="fw-bold mb-3"><span class="text-white text-decoration-underline">Потвърдете изтриване</span></h2>
                                    <form>
                                        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Име на продукта" disabled=""></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="weight" placeholder="Мярка" disabled=""></div>
                                        <div class="mb-3"><input class="form-control" type="number" name="price" placeholder="Цена" step="0.01" disabled=""></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="group" placeholder="Група" disabled=""></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="image" placeholder="Снимка линк" disabled=""></div>
                                        <div class="mb-5"><button class="btn btn-primary shadow justify-content-center align-items-center align-content-center" style="margin-left: 116px;"><i class="bi bi-x-circle"></i> Изтрий</button></div>
                                    </form>
                                </div>
                                <div class="col d-none d-lg-flex flex-grow-1" style="margin-left: 49px;margin-top: 4px;"><img style="width: 340px;height: 402px;position: relative;padding-bottom: 0px;padding-top: 0px;margin-top: 9px;" width="340" height="402"></div>
                            </div>
                        </div>
                        <!-- Edit restaurant -->
                        <div class="tab-pane" role="tabpanel" id="tab-4" style="padding-top: 30px;padding-bottom: 31px;">
                            <div class="row">
                                <div class="col-md-5 col-xl-4 col-xxl-5 text-center text-md-start">
                                    <h2 class="fw-bold mb-3"><span class="text-white text-decoration-underline">Редакция ресторант</span></h2>
                                    <form>
                                        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Име на ресторанта"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="location" placeholder="Град"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="address" placeholder="Адрес"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="phone" placeholder="Телефон"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="cuisine" placeholder="Предлагана кухня"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="image" placeholder="Снимка"></div>
                                        <div class="mb-5"><button class="btn btn-primary shadow justify-content-center align-items-center align-content-center" style="margin-left: 116px;"><i class="bi bi-pencil-fill"></i> Редактирай</button></div>
                                    </form>
                                </div>
                                <div class="col d-none d-lg-flex flex-grow-1" style="margin-left: 49px;margin-top: 4px;"><img style="width: 340px;height: 402px;position: relative;padding-bottom: 0px;padding-top: 0px;margin-top: 9px;" width="340" height="402"></div>
                            </div>
                        </div>
                        <!-- Delete restaurant -->
                        <div class="tab-pane" role="tabpanel" id="tab-5" style="padding-top: 30px;padding-bottom: 31px;">
                            <div class="row">
                                <div class="col-md-5 col-xl-4 col-xxl-5 text-center text-md-start">
                                    <h2 class="fw-bold mb-3"><span class="text-white text-decoration-underline">Потвърди изтриване</span></h2>
                                    <form>
                                        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Име на ресторанта"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="location" placeholder="Град"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="address" placeholder="Адрес"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="phone" placeholder="Телефон"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="cuisine" placeholder="Предлагана кухня"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="image" placeholder="Снимка"></div>
                                        <div class="mb-5"><button class="btn btn-primary shadow justify-content-center align-items-center align-content-center" style="margin-left: 116px;"><i class="bi bi-x-circle"></i> Изтрий</button></div>
                                    </form>
                                </div>
                                <div class="col d-none d-lg-flex flex-grow-1" style="margin-left: 49px;margin-top: 4px;"><img style="width: 340px;height: 402px;position: relative;padding-bottom: 0px;padding-top: 0px;margin-top: 9px;" width="340" height="402"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>