body {
    padding: 0 64px;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0,0,0);
    margin-top: 32px;
    margin-bottom: 16px;
}

.site-title {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    gap: 16px;
    margin-top: -1px;
}

nav li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

h1 {
    margin-bottom: 12px;
}

p:not(:last-child) {
    margin-bottom: 12px;
}