<div class="login-register-div">
    <div class="login-register-box">
        <h1>Petstagram</h1>

        {{#with userInput}}
        <form action="/user/register" method="post">
            <input type="text" name="username" placeholder="Username" value="{{username}}">
            <input type="email" name="email" placeholder="Email" value="{{email}}">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="rePass" placeholder="Repeat Password">
            <button type="submit">Register</button>
        </form>
        {{/with}}

    </div>
    <div class="second-option">

        <p>Have an account? <a href="/user/login">LogIn</a></p>
    </div>
</div>