{{#with courses}}
{{#if isLogged}}
<h1 class="text-center">Courses</h1>
<section>
    <a href="/create" class="btn btn-warning ">Create Course</a>
    <form action="/" method="post" class="search float-right">
        <label>Search: </label>
        <input type="text" name="userSearch" value="{{userSearch}}">
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
</section>
        {{#if allCourseUser}}
        <div class="container mt-3">
            <div class="row ">
                <div class="card-deck d-flex justify-content-center">
                    {{#each allCourseUser}}
                    {{>courseCardUser}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{else}}
        <h3 class="text-center">No courses...</h3>
        {{/if}}

{{else}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Tutorials</h1>
        <p class="lead">Start Self-Learning Today: Be the best Developer in the company</p>
    </div>
</div>
<div>
    <h1 class="text-center">Top Courses</h1>
    <div class="container mt-3">
        {{#if allCourseGuest}}
        <div class="row d-flex justify-content-center">
            <div class="card-deck">
                {{#each allCourseGuest}}
                {{>courseCardGuest}}
                {{/each}}
            </div>
        </div>
        {{else}}
        <h4 class="text-center">No courses...</h4>
        {{/if}}
    </div>
</div>
{{/if}}
{{/with}}