@media screen and (max-width: 600px) {
    #top-bar ul li:nth-child(4) {
        display: none;
    }

    #top-bar {
        margin-bottom: 0.5em;
    }

    #main-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-menu ul {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        text-align: center;
    }

    #main-menu ul li {
        border: 1px solid #ad9396;
        width: 6.5em;
        padding: 6px;
    }

    main aside {
        display: flex;
        justify-content: space-around;
    }

    #left-aside article {
        border-bottom: initial;
    }

    #left-aside {
        margin: 10px;
    }

    #news {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #news article {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    p {
        display: block;
        margin-block-start: 0em;
        margin-block-end: 1em;
        font-size: 1.15em;
    }

    main #right-aside {
        flex-direction: column;
        width: 95%;
        margin: 25px 10px 25px 2px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer ul {
        width: 100%;
        margin: 10px;
    }
}