<!-- Create Page -->
<section id="create-section" class="">
    <h1 class="item">New Auction</h1>
    <div class="item padded align-center">
        {{#with userInput}}
        <form class="layout left large" method="post" action="/create">
            <div class="col aligned">
                <label>
                    <span>Title</span>
                    <input type="text" name="title" value="{{title}}"></label>
                <label>
                    <span>Category</span>
                    <select name="category">
                        <option value="estate" {{#if (equal category 'estate')}}selected{{/if}}>Real Estate</option>
                        <option value="vehicles" {{#if (equal category 'vehicles')}}selected{{/if}}>Vehicles</option>
                        <option value="furniture" {{#if (equal category 'furniture')}}selected{{/if}}>Furniture</option>
                        <option value="electronics" {{#if (equal category 'electronics')}}selected{{/if}}>Electronics</option>
                        <option value="other" {{#if (equal category 'other')}}selected{{/if}}>Other</option>
                    </select>
                </label>
                <label>
                    <span>Image URL</span>
                    <input type="text" name="imageUrl" value="{{imageUrl}}"></label>
                <label>
                    <span>Starting price</span>
                    <input type="number" step="0.01" name="price" value="{{price}}"></label>
            </div>
            <div class="content pad-med align-center vertical">
                <label>
                    <span>Description</span>
                    <textarea name="description">{{description}}</textarea>
                </label>
                <div class="align-center">
                    <input class="action" type="submit" value="Publish Item">
                </div>
            </div>
        </form>
        {{/with}}
    </div>
</section>