<section id="loginPage">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <fieldset>
            <legend>Login</legend>
            <div class="error" *ngIf="errorMsgFromServer">{{errorMsgFromServer}}</div>

            <label for="email" class="vhide">Email</label>
            <input id="email" class="email" name="email" ngModel #inputEmail="ngModel" type="text" placeholder="Email"
                required email pattern="^\w+@\w+\.\w+$">
            <ng-container *ngIf="inputEmail.invalid && inputEmail.touched">
                <div class="error" *ngIf="inputEmail.errors?.['required']">Email is required</div>
                <div class="error" *ngIf="inputEmail.errors?.['email']">Email is invalid</div>
                <div class="error" *ngIf="inputEmail.errors?.['pattern']">Email must contain only letters and digits
                </div>
            </ng-container>

            <label for="password" class="vhide">Password</label>
            <input id="password" class="password" name="password" ngModel #inputPassword="ngModel" type="password"
                placeholder="Password" required minlength="6">
            <ng-container *ngIf="inputPassword.invalid && inputPassword.touched">
                <div class="error" *ngIf="inputPassword.errors?.['required']">Password is required</div>
                <div class="error" *ngIf="inputPassword.errors?.['minlength']">Password must be at least 6 characters
                    long</div>
            </ng-container>

            <button type=" submit" class="login" [disabled]="loginForm.invalid">Login</button>

            <p class="field">
                <span>If you don't have profile click <a routerLink="/register">here</a></span>
            </p>
        </fieldset>
    </form>
</section>