@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

.viewport:nth-child(1) {
    background: linear-gradient(90deg, rgba(23, 93, 154, 1) 0%, rgba(45, 147, 159, 1) 45%, rgba(60, 200, 160, 1) 100%);
}

.viewport:nth-child(2) {
    background: linear-gradient(90deg, rgba(167, 49, 119, 1) 0%, rgba(185, 83, 72, 1) 45%, rgba(211, 129, 16, 1) 100%);
}

.viewport {
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.card {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

i {
    color: white;
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 10px;
}