<div class="register-box">
    <h1>Register</h1>
    <h4>It's free and only take a minute</h4>
    {{#with userInput}}
    <form action="/user/register" method="post">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username.." value="{{username}}">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email.." value="{{email}}">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password.." value="{{password}}">
        <label>Confirm Password</label>
        <input type="password" name="rePass" placeholder="Confirm Password.." value="{{rePass}}">
        <input type="submit" value="Submit">
    </form>
    {{/with}}
    <p>Already have an account? <a href="/user/login">Login here</a></p>
</div>