<section class="login-form-container">
    {{#if errors}}
    <div class="errorContainer">
        {{#each errors}}
        <p>{{this}}</p>
        {{/each}}
    </div>
    {{/if}}
    {{#with userInput}}
    <form action="/user/login" method="POST">
        <h3>Login</h3>
        <label>Email</label>
        <input type="email" name="email" class="box" id="email" value="{{email}}">
        <label>Password</label>
        <input type="password" name="password" class="box" id="password" value="{{password}}">
        <input type="submit" value="Login" class="btn">
        <p>Don't have an account ? <a href="/user/register">Create one</a></p>
    </form>
    {{/with}}
</section>