<article class="content-publication">
    <h1>Title: {{title}}</h1>
    <p>Number of people shared the publication: {{usersShared.length}}</p>
    <a href="/details/{{_id}}" class="image-details">View publication</a>
</article>