<header>
    <a id="logo" routerLink="/"><img id="logo-img" src="/assets/logo.png" alt="" /></a>
    <nav>
        <div>
            <a routerLink="/catalog">Dashboard</a>
        </div>
        <ng-container *ngIf="updateNavigation(); else guest">
            <div class="user">
                <a routerLink="/create">Add Album</a>
                <a href="javascript:void(0)" (click)="logout()">Logout</a>
            </div>
        </ng-container>
        <ng-template #guest>
            <div class="guest">
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </div>
        </ng-template>
    </nav>
</header>